*.swp

# LaTeX
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy

# C: Object files
*.o

# C: Libraries
*.lib
*.a

# C: Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# C: Executables
*.exe
*.out
*.app

# Others
references/*
mat/*
MM/*
rb/*
